@charset "utf-8";
@import "compass/reset";
@import "compass";

$main: rgba(288, 122, 49, 1);
$white: #ffffff;
$black: #343434;
$gray: #F8F7F6;
$fontColor:#CD4500;

%clearfix{
  @include clearfix();
}

html,body{
  font-size: 13px;
  color: $black;
}

header{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: $main;
  text-align: center;
  color: $white;
  position: fixed;
  top: 0;
  z-index: 200;
  h1{
    img{
      width: auto;
      margin-top: 2.5px;
      height: 35px;
    }
  }
  nav#icon{
    @include box-sizing(border-box);
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
    @include transition(all 0.2s ease-in);
    position: absolute;
    right: 5px;
    span{
      display: block;
      margin: 0;
      margin-top: 5px;
      width: 26px;
      height: 3px;
      background-color: $white;
      @include transition( all .4s ease-out );
    }
    &.active{
      @include transform(rotate(-45deg));
      span:nth-child(1){
        @include transform(rotate(0deg) translateY(10.5px));
      }
      span:nth-child(2){
        opacity: 0;
      }
      span:nth-child(3){
        @include transform(rotate(-90deg) translateX(5px));
      }
    }
  }
}

aside{
  width: 250px;
  height: 100%;
  min-height: 100%;
  background-color: $main;
  position: fixed;
  top: 40px;
  right: -250px;
  z-index: 100;
  @include transition( right .3s ease-out );
  time{
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: $white;
    background-color: #CF5630;
    z-index: 300;
  }
  ul{
    width: 100%;
    li{
      width: 100%;
      height: 50px;
      line-height: 50px;
      a{
        display: inline-block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        text-align: center;
        color: $white;
        text-decoration: none;
      }
    }
  }
  #mainichiLogo{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    img{
      width: 60%;
    }
  }
}

.wrapper{
  width: 95%;
  margin: 0 auto;
}
#wrapper{
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  #articleArea{
    article.item{
      @include box-sizing(border-box);
      width: 45%;
      margin: 7px;
      background-color: $gray;
      float: left;
      @include border-radius(8px);
      @include box-shadow(0 1px 1px rgba(142, 142, 142, 0.48));
      a{
        @include box-sizing(border-box);
        display: inline-block;
        width: 100%;
        @include border-radius(8px);
        color: $black;
        text-decoration: none;
        h3{
          word-break: break-all;
          padding: 8px;
        }
        time{
          display: inline-block;
          color: $main;
          padding: 8px;
          padding-top: 0;
        }
        img{
          width: 100%;
          height: auto;
          @include border-radius(8px 8px 0 0);
        }
      }
    }
  }
}

#singleArticle{
  width: 100%;
  #articleInfo{
    display: inline-block;
    margin-bottom: 20px;
    h3{
      width: 100%;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
      word-break: break-all;
    }
    ul{
      @extend %clearfix;
      li{
        float: left;
        &+li{
          margin-left: 10px;
        }
      }
    }
  }
  #articleImage{
    width: 100%;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: auto;
    }
  }
  #articleBody{
    #maisokuTitle{
      font-size: 15px;
      color: $fontColor;
      margin-bottom: 10px;
    }
    #read,
    #moreRead{
      line-height: 150%;
      margin-bottom: 20px;
      word-break: break-all;
    }
  }
  #articleComment{
    width: 100%;
    background-color: $gray;
    padding-bottom: 20px;
    h4{
      height: 40px;
      line-height: 40px;
      background-color: $main;
      text-indent: 1em;
      color: $white;
      font-size: 15px;
    }
    ul{
      width: 100%;
      li{
        @include box-sizing(border-box);
        padding: 10px;
        border-bottom: solid 1px $main;
        h5{
          font-size: 15px;
          color: $fontColor;
          float: left;
          margin-bottom: 10px;
        }
        time{
          float: right;
        }
        p{
          clear: both;
        }
      }
    }
    form{
      margin-top: 20px;
      div{
        input[type="text"],
        input[type="submit"]{
          @include box-sizing(border-box);
          @include border-radius(4px);
          @include appearance(none);
        }
        input[type="text"]{
          border: solid 1px $black;
        }
        input[type="submit"]{
          display: inline-block;
          width: 100%;
          border: none;
          background-color: $main;
          color: $white;
          height: 30px;
          line-height: 30px;
          font-size: 18px;
        }
        textarea{
          @include box-sizing(border-box);
          width: 100%;
          height: 50px;
          margin-top: 10px;
          margin-bottom: 10px;
          @include border-radius(4px);
        }
      }
    }
  }
  .recommend,.recommendText{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    ul{
      li{
        width: 100%;
        @include box-sizing(border-box);
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px $main  ;
        a{
          display: inline-block;
          @extend %clearfix;
          div{
            display: inline-block;
            width: 30%;
            float: left;
            img{
              width: 100%;
              height: auto;
            }
          }
          h5{
            float: right;
            width: 60%;
            word-break: break-all;
            color: $black;
          }
        }
      }
    }
  }
  .recommendText{
    ul li a h5{
      width: 100%;
      font-size: 13px !important;
      color: $black !important;
    }
  }
}
